@{
    ViewData["Title"] = "Contacts";
    Layout = "_Layout";
    List<Contact> contacts = ViewBag.Contacts;
}

<h1>Contacts</h1>
<table class="table">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">FName</th>
        <th scope="col">LName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Details</th>
    </tr>
    @foreach(Contact c in contacts)
    {
        <tr>
            <th scope="row">@c.Id</th>
            <td>@c.FName</td>
            <td>@c.LName</td>
            <td>@c.Email</td>
            <td>@c.Phone</td>
            <td><a class="btn btn-outline-info" asp-action="Show" asp-route-id="@c.Id">Show Details</a></td>
        </tr>
    }
</table>
<a type="button" asp-action="Add" class="btn btn-primary">Add a contact</a>