@{
    ViewData["Title"] = "Contacts";
    Layout = "_Layout";
    List<Contact> contacts = ViewBag.Contacts;
}

<h1>Contacts</h1>
<table class="table">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">FName</th>
        <th scope="col">LName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
    </tr>
    @foreach(Contact c in contacts)
    {
        <tr>
            <td scope="row">@c.Id</td>
            <td scope="row">@c.FName</td>
            <td scope="row">@c.LName</td>
            <td scope="row">@c.Email</td>
            <td scope="row">@c.Phone</td>
        </tr>
    }
</table>

<ul>
    <h3>Actions:</h3>
    <!---<form asp-action="Show" method="post">
        <label>Show</label><br />
        <label for="id">Enter an id: </label>
        <input type="number" name="id" id="id" />
        <button type="submit" class="btn btn-primary" asp-action="Show">Go</button>
    </form>--->
    <li>
        <a asp-action="Show">Details</a>
    </li>
    <li>
        <a asp-action="Add">Add</a>
    </li>
</ul>
