@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}

@model Contact

<h1>Contact Details</h1>

@{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.LName</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.FName</h6>
            <p class="card-text">@Model.FName @Model.LName is contact #@Model.Id</p>
            <a href="#" class="card-link">@Model.Email</a>
            <a href="#" class="card-link">@Model.Phone</a>
        </div>
    </div>

}

<a class="btn btn-dark" asp-action="Index">Return</a>
