@{
    ViewData["Title"] = "ADd task";
    Layout = "_Layout";
}
@model Todo

<h1>@(Model is not null?"Update" : "Add") Task </h1>

<form asp-action="Submit">
    <input asp-for="@Model.Id" type="number" hidden/>
    <input asp-for="@Model.Title" type="text" placeholder="Title" class="form-text"/>
    <input asp-for="@Model.Description" type="text" placeholder="Description" class="form-text" />
    <input asp-for="@Model.Done" type="checkbox" hidden/>
    <button type="submit" class="btn btn-success">Submit</button>
    <div class="text-danger">@Html.ValidationSummary()</div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
