@{
    ViewData["Title"] = "Todo";
    Layout = "_Layout";
    List<Todo> tasks = ViewBag.Tasks;
}

<h1>Todo List</h1>
<table class="table">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Task title</th>
        <th scope="col">Task description</th>
        <th scope="col">Actions</th>
    </tr>
    @{
        foreach (Todo t in tasks)
        {
            <tr>
                <th scope="row">@t.Id</th>
                <td>@t.Title</td>
                <td>@t.Description</td>
                <td>
                    <div class="dropdown">
                        @{
                            if (!t.Done)
                            {
                                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-clock-history"></i> In progress...</button>
                            } else
                            {
                                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="bi bi-check"></i> Done!</button>
                            }
                        }
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @{
                            if(!t.Done) {<a class="dropdown-item" asp-action="ChangeStatus" asp-route-id="@t.Id">Finish task</a>}
                            else {<a class="dropdown-item" asp-action="ChangeStatus" asp-route-id="@t.Id">Start task again</a>}
                        }
                            <a class="dropdown-item" asp-action="Update" asp-route-id="@t.Id">Update</a>
                            <a class="dropdown-item text-danger" asp-action="Delete" asp-route-id="@t.Id">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
    <tr>
        <td colspan="4" class="text-center">
            <a asp-action="AddTask" class="btn btn-success"><i class="bi bi-plus"></i> Add a task</a>
        </td>
    </tr>
</table>
